<div id="helm">
  <div id="control">
    {{#if user}}
      <a href="{{user.uri}}">{{user.name}}</a>
    {{/if}}
  </div>

  <a href="test">test</a>
  <a href="/">home</a>
  <a href="register">register</a>
</div>
