<div id="register">
  <form id="register-form">
    <label for="email">Email:</label>
    <input role="emailInput" type="text" name="email" />
  </form>
  email: <span role="emailShow"></span>
</div>
